@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card-content{
    padding: 16px !important;
}

.mat-mdc-snack-bar-label{
    padding: 0px !important;
}

.mat-mdc-snackbar-surface{
    padding: 0px !important;
    border-radius: 10px !important
}

.dense-3 {
    @include mat.form-field-density(-3);
}
